.widthContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, -1.1667rem + 5.5556vw, 3rem);
}
.title {
  font-size: clamp(2rem, -1.5556rem + 7.4074vw, 4rem);
  font-weight: 700;
  line-height: 1.25;
}
.highlighted {
  margin: 0 -1rem;
  padding: 0 1rem;
  position: relative;
  font-size: clamp(1.5rem, -1.1667rem + 5.5556vw, 3rem);
  font-weight: 400;
}
.highlighted::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: skewX(-15deg);
  z-index: -1;
}
.adviceList {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
  list-style-type: none;
}
.advice {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.adviceIconContainer {
  flex-shrink: 0;
  width: clamp(2rem, 0.2222rem + 3.7037vw, 3rem);
  position: relative;
}
.adviceIconBlob {
  width: clamp(2rem, 0.2222rem + 3.7037vw, 3rem);
  color: var(--accent-color);
}
.adviceIconBlobRotated {
  transform: rotate(-90deg);
}
.adviceIcon {
  width: clamp(1.2rem, 0.6667rem + 1.1111vw, 1.5rem);
  margin: auto;
  position: absolute;
  inset: 0;
  color: var(--text-color);
  z-index: 2;
}
.adviceText {
  font-size: clamp(1.25rem, 0.8056rem + 0.9259vw, 1.5rem);
}
.linkContainer {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}
.moreRecommendations {
  font-size: clamp(1.5rem, -0.2778rem + 3.7037vw, 2.5rem);
  font-weight: 600;
}
.link {
  font-size: clamp(2rem, -1.5556rem + 7.4074vw, 4rem);
  font-weight: 900;
  text-decoration: underline;
}
@media (max-width: 48rem) {
  .title {
    font-size: clamp(1.75rem, 1.75rem + 0.5208vw, 2rem);
    line-height: 1;
  }
  .highlighted {
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .adviceList {
    gap: 0.8rem;
  }
  .advice {
    gap: 0.8rem;
  }
  .adviceText {
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .moreRecommendations {
    font-size: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
  .link {
    font-size: clamp(1.5rem, 1.5rem + 0.5208vw, 1.75rem);
  }
}
