.widthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(1.5rem, -1.1667rem + 5.5556vw, 3rem);
}
.descriptionColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
}
.title {
  font-size: clamp(1.5rem, -0.2778rem + 3.7037vw, 2.5rem);
  font-weight: 600;
  line-height: 1.25;
}
.titleBigger {
  font-size: clamp(1.75rem, -0.9167rem + 5.5556vw, 3.25rem);
}
.titleBold {
  font-weight: 900;
  white-space: nowrap;
}
.titleColored {
  background-color: rgba(0, 0, 0, 0.25);
  color: transparent;
  text-shadow: 0px 0px 3px var(--accent-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.description {
  font-size: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem);
}

.cardContent {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem);
}
.imageContainer {
  width: clamp(3rem, -2.3333rem + 11.1111vw, 6rem);
  height: fit-content;
  aspect-ratio: 1/1;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.extensionName {
  font-size: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
.extensionNameBold {
  font-variant: all-small-caps;
  font-weight: 700;
}
.rating {
  display: flex;
  gap: 10px;
}
.starIcon {
  width: 36px;
  color: var(--accent-color);
}
@media (max-width: 48rem) {
  .widthContainer {
    flex-wrap: wrap;
  }
  .descriptionColumn {
    order: 2;
  }
}
