.widthContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  font-size: clamp(2rem, -1.5556rem + 7.4074vw, 4rem);
  font-weight: 900;
  line-height: 1.25;
  text-transform: uppercase;
}
.highlighted {
  margin: 0 -1rem;
  padding: 0 1rem;
  position: relative;
}
.highlighted::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: skewX(-15deg);
  z-index: -1;
}
.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 0.2222rem + 3.7037vw, 3rem);
  font-size: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
}
.cardsSection {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
}
.descriptionTitle {
  font-size: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
}
.boldText {
  font-weight: 600;
}
.cardsContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px;
}
.cardContent {
  margin-top: -8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
}
.cardText {
  font-size: clamp(1.25rem, 0.8056rem + 0.9259vw, 1.5rem);
  line-height: 1.25;
}
.arrow {
  flex-shrink: 0;
  width: clamp(3rem, -0.5556rem + 7.4074vw, 5rem);
  color: var(--accent-color);
}
.arrow path {
  stroke-width: 5px;
}
.cardTitleContainer {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
  font-size: clamp(1.5rem, 1.0556rem + 0.9259vw, 1.75rem);
}
.blobContainer {
  flex-shrink: 0;
  width: 72px;
  position: relative;
}
.icon {
  width: 36px;
  height: 36px;
  margin: auto;
  position: absolute;
  inset: 0;
  color: var(--text-color);
  z-index: 2;
}
.blob {
  width: 72px;
  color: var(--accent-color);
}
.blobRotated {
  transform: rotate(180deg);
}

@media (max-width: 48rem) {
  .widthContainer {
    gap: 1rem;
  }
  .title {
    font-size: clamp(1.75rem, 1.75rem + 1.0417vw, 2rem);
  }
  .highlighted {
    margin: 0 -0.5rem;
    padding: 0 0.5rem;
  }
  .descriptionContainer {
    gap: 1rem;
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .descriptionTitle {
    font-size: clamp(1.5rem, 1.5rem + 0.5208vw, 1.75rem);
  }
  .cardsSection {
    gap: 1rem;
  }
  .cardsContainer {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .cardTitleContainer {
    font-size: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
  .cardText {
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .arrow {
    transform: rotate(90deg);
  }
  .blobContainer {
    width: 64px;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
  .cardContent {
    gap: 1rem;
  }
}
