.main {
  width: 100%;
}
.widthContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title {
  font-size: 2rem;
  font-weight: 500;
}
.content {
  display: flex;
}
.section {
  width: 100%;
  max-width: 700px;
}
.imageContainer {
  aspect-ratio: 1/1;
  border: 1px solid black;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.descriptionSection {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.name {
  font-size: 3rem;
  font-weight: 600;
}
.price {
  font-family: var(--challenge-font);
  font-size: 1.25rem;
}
.link {
  display: flex;
  gap: 0.75rem;
  font-family: var(--challenge-font);
}
.link:hover,
.link:focus {
  text-decoration: underline;
}
.arrow {
  width: 1rem;
  fill: black;
}
