.widthContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header {
  font-size: clamp(2.5rem, -0.1667rem + 5.5556vw, 4rem);
  font-weight: 900;
  line-height: 1.25;
  color: var(--text-color);
  text-transform: uppercase;
}
.colored {
  background-color: rgba(0, 0, 0, 0.25);
  color: transparent;
  text-shadow: 0px 0px 3px var(--accent-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.tilesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1.2rem, -0.2222rem + 2.963vw, 2rem);
}
.tileWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 43rem;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) inset;
  background-color: var(--accent-color);
}
.tileWrapperFilled {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15) inset;
}
.tileWrapperMedium {
  flex-basis: 26rem;
}
.tileWrapperMedium2 {
  flex-basis: 21rem;
}
.tileWrapperSmall {
  flex-basis: 18rem;
}
.tile {
  width: 100%;
  height: 100%;
  padding: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
  border-radius: 6px;
}
.white {
  background-color: var(--background-color);
}
.tileContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.25;
}
.tileContentBigGap {
  gap: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
}
.hugeText {
  font-size: clamp(2.25rem, -3.5278rem + 12.037vw, 5.5rem);
  font-weight: 700;
}
.hugeText2 {
  font-size: clamp(2rem, -1.5556rem + 7.4074vw, 4rem);
  font-weight: 700;
}
.bigText {
  font-size: clamp(1.75rem, -0.9167rem + 5.5556vw, 3.25rem);
}
.meduimText {
  font-size: clamp(1.2rem, -0.2222rem + 2.963vw, 2rem);
}
.meduimText2 {
  font-size: clamp(1.5rem, 0.1667rem + 2.7778vw, 2.25rem);
}
.smallText {
  font-size: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
}
.quoteName {
  font-size: clamp(0.85rem, 0.1389rem + 1.4815vw, 1.25rem);
  font-weight: 600;
  color: #898989;
}
.boldText {
  font-weight: 700;
}
.noWrap {
  white-space: nowrap;
}
@media (max-width: 48rem) {
  .widthContainer {
    gap: 1.5rem;
  }
  .header {
    font-size: clamp(1.5rem, 1.5rem + 1.0417vw, 2rem);
  }
  .tileWrapper {
    flex-basis: 23rem;
  }
  .tileWrapperMedium {
    flex-basis: 23rem;
  }
  .tileWrapperMedium2 {
    flex-basis: 19rem;
  }
  .tileWrapperSmall {
    flex-basis: 14rem;
  }
  .hugeText {
    font-size: clamp(3rem, 3rem + 1.0417vw, 3.5rem);
  }
  .hugeText2 {
    font-size: clamp(1.5rem, 1.5rem + 1.0417vw, 2rem);
  }
  .bigText {
    font-size: clamp(2rem, 2rem + 0.5208vw, 2.25rem);
  }
  .meduimText {
    font-size: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
  .meduimText2 {
    font-size: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
  .smallText {
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .tileContentInRow {
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}
