.widthContainer {
  display: flex;
}
.section {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 1/1;
}
.picture {
  background-color: orange;
  border: 1px solid black;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: 1px solid black;
  border-left: none;
}
.title {
  font-size: 4rem;
}
.description {
  max-width: 410px;
  text-align: center;
}
