.hero {
  width: 100%;
}
.widthContainer {
  display: flex;
}
.section {
  width: 100%;
  max-width: 700px;
}
.imageContainer {
  height: fit-content;
  aspect-ratio: 1/1;
  border: 1px solid black;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border: 1px solid black;
  border-left: none;
}
.title {
  font-size: 64px;
}
.description {
  max-width: 410px;
  text-align: center;
  font-family: var(--challenge-font);
}
.link {
  padding: 12px 32px;
  color: white;
  background-color: black;
  border: none;
  outline: 1px solid white;
  font-family: var(--challenge-font);
}
@media (max-width: 768px) {
  .widthContainer {
    flex-direction: column;
  }
  .descriptionSection {
    padding: 32px 16px;
    border: 1px solid black;
    border-top: none;
  }
  .title {
    font-size: 48px;
  }
}
