.modal {
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: var(--color);
}
.modal > div {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  font-size: clamp(1.5rem, 0.6111rem + 1.8519vw, 2rem);
}
.description {
  font-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
}
.buttonsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 48rem) {
  .modal {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .modal > div {
    height: 100%;
    justify-content: center;
  }
}
