.container {
  width: 100%;
  position: relative;
}
.background {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.gradient {
  width: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, black 35%, transparent);
  opacity: 70%;
}
.text {
  max-width: 40%;
  height: fit-content;
  margin: auto;
  position: absolute;
  inset: 0;
  font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
  font-weight: 600;
  color: white;
  text-align: center;
}

@media (max-width: 48rem) {
  .container {
    aspect-ratio: 1/1;
  }
  .background {
    height: 100% !important;
    object-fit: cover;
  }
  .text {
    max-width: 80%;
    font-size: 2rem;
  }
}
