.container {
  width: 100%;
  position: relative;
}
.background {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.gradient {
  width: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, black 35%, transparent);
  opacity: 70%;
}
.text {
  max-width: 40%;
  height: fit-content;
  margin: auto;
  position: absolute;
  inset: 0;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-align: center;
}
