.description {
  padding-top: 6rem;
}
.descriptionHeading {
  font-family: var(--title-font);
  font-size: clamp(2rem, 5vw + 1rem, 6.5rem);
  font-weight: 600;
  text-transform: uppercase;
}
.descriptionContent {
  margin: min(2rem, 64px) 0;
  font-size: clamp(1rem, 6vw + 0rem, 1.5rem);
  columns: 2;
  column-gap: min(4rem, 96px);
}

@media (max-width: 48rem) {
  .descriptionContent {
    columns: 1;
  }
}
