.description {
  padding-top: 6rem;
}
.widthContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.descriptionHeading {
  font-family: var(--title-font);
  font-size: clamp(2rem, 5vw + 1rem, 6.5rem);
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 1rem;
}
.descriptionContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(4rem, 96px);
  font-size: clamp(1rem, 6vw + 0rem, 1.5rem);
}
.descriptionColumn {
  display: flex;
  flex-direction: column;
  gap: min(2rem, 32px);
}
@media (max-width: 48rem) {
  .descriptionContent {
    grid-template-columns: 1fr;
    gap: min(2rem, 32px);
  }
}
