.footer {
  width: 100%;
  position: relative;
}

.background {
  width: 100%;
}

.textContainer {
  padding-bottom: min(2rem, 64px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.75rem, 0.3056rem + 0.9259vw, 1rem);
  font-weight: 600;
  color: var(--color);
}

.heart {
  width: 1em;
  height: 1em;
  display: inline;
}
.transparent {
  opacity: 0.6;
}

.link {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-weight: 600;
  opacity: 1;
}
.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
@media (max-width: 48rem) {
  .textContainer {
    padding-bottom: min(1rem, 24px);
  }
}
