.stickyHeader {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
  position: sticky;
  top: 0;
  background-color: var(--color);
  z-index: 2;
}
.button {
  font-size: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
}
@media (max-width: 48rem) {
  .stickyHeader {
    gap: 1rem;
  }
}
