.toast {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  color: black;
  font-family: var(--font);
  font-size: clamp(1.2rem, 0.6667rem + 1.1111vw, 1.5rem);
}
.toast > svg {
  flex-shrink: 0;
}
.text {
  display: inline;
}
.bold {
  font-weight: 600;
}
