.primary {
  padding: 0.75rem 2rem;
  color: var(--color);
  background-color: black;
  font-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
  text-align: center;
  border: none;
  outline: 1px solid black;
  transition: font-weight 100ms ease-in-out;
}
.secondary {
  padding: 0.75rem 2rem;
  color: black;
  background-color: var(--color);
  font-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
  text-align: center;
  border: none;
  outline: 1px solid black;
  transition: font-weight 100ms ease-in-out;
}
.primary:hover,
.primary:focus,
.primary.selected,
.secondary:hover,
.secondary:focus,
.secondary.selected {
  font-weight: 700;
}

.hidden {
  height: 0;
  visibility: hidden;
  font-weight: 700;
}
