.header {
  width: 100%;
  position: relative;
  font-family: var(--title-font);
  font-size: 1.5rem;
}
.widthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}
.navigation {
  padding: min(1.5rem, 32px) 0;
  display: flex;
  align-items: center;
  gap: min(4rem, 96px);
  list-style-type: none;
}
.linkContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.link {
  cursor: pointer;
  font-weight: 400;
  transition: font-weight 100ms ease-in-out;
}
.hidden {
  height: 0;
  visibility: hidden;
  font-weight: 900;
}
.link:hover,
.link:focus,
.link.selected {
  font-weight: 900;
}
.menuButton {
  font-size: 1.5rem;
  font-weight: 800;
  display: none;
}
.headerWave {
  min-width: 1400px;
  position: absolute;
  inset: 0;
  z-index: -1;
  color: var(--accent-color);
}
@media (max-width: 48rem) {
  .header {
    padding: min(1rem, 24px) 0;
  }
  .navigation {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
