.footer {
  width: 100%;
  padding: 4rem 0;
  margin-top: auto;
  color: white;
  background-color: black;
}
.widthContainer {
  display: flex;
  justify-content: space-between;
}
.footerContent {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.linksAndMission {
  display: flex;
  gap: 8rem;
}
.linksSection,
.missionSection,
.mailSection {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}
.navigation {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style-type: none;
  font-family: var(--challenge-font);
  font-size: 0.85rem;
}
.link:hover,
.link:focus,
.link.selected {
  text-decoration: underline;
}
.mission {
  font-family: var(--challenge-font);
  font-size: 0.85rem;
}
.inputContainer {
  display: flex;
  border: 1px solid #fff8;
}
.input {
  width: 100%;
  height: 44px;
  background: transparent;
  border: none;
}
.input::placeholder {
  padding-left: 16px;
  font-family: var(--challenge-font);
  font-size: 0.85rem;
}
.logoAndRights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.logo {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  font-family: var(--challenge-font);
}
.rights {
  font-family: var(--challenge-font);
  font-size: 0.85rem;
}
.arrow {
  width: 1.25rem;
  fill: white;
  opacity: 0.5;
}

@media (max-width: 48rem) {
  .footer {
    padding: 2rem 0;
  }
  .widthContainer {
    flex-direction: column;
    gap: 3rem;
  }
  .footerContent {
    gap: 3rem;
  }
  .logoAndRights {
    gap: 0.5rem;
  }
  .mailSection {
    gap: 0.5rem;
  }
  .linksAndMission {
    gap: 3rem;
  }
}
