.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.imageContainer {
  width: 100%;
  height: fit-content;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.name {
  font-weight: 600;
  font-size: 16px;
}
.price {
  font-size: 16px;
  font-family: var(--simulation-font);
}
