.buttonContainer {
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--background-color);
  outline: 1px solid var(--text-color);
  font-family: var(--challenge-font);
}
.primary {
  --background-color: black;
  --text-color: white;
}
.secondary {
  --background-color: white;
  --text-color: black;
}
.button {
  border: none;
  cursor: pointer;
}
.icon {
  padding: 16px;
}

.hidden {
  height: 0;
  visibility: hidden;
  font-weight: 700;
}
