.primary {
  padding: 12px 32px;
  color: white;
  background-color: black;
  border: none;
  outline: 1px solid white;
  font-family: var(--challenge-font);
  transition: font-weight 100ms ease-in-out;
}
.secondary {
  padding: 12px 32px;
  color: black;
  background-color: white;
  border: none;
  outline: 1px solid black;
  font-family: var(--challenge-font);
}
.icon {
  padding: 16px;
}

.hidden {
  height: 0;
  visibility: hidden;
  font-weight: 700;
}
