.modal {
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  margin: auto;
  position: fixed;
  inset: 0;
  background-color: var(--color);
}
.modal > div {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  font-size: 2rem;
}
.buttonsGroup {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 48rem) {
  .modal {
    max-width: 100%;
    margin: auto 1rem;
  }
}
