.quantityButtonContainer {
  width: fit-content;
  border: 1px solid black;
}
.quantityButton {
  padding: 12px 16px;
  font-family: var(--challenge-font);
}
.quantity {
  padding: 12px 1rem;
}
.disabled {
  opacity: 0.5;
}
