.main {
  width: 100%;
}
.widthContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.titleContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title {
  font-size: 48px;
}
.continueShoppingLink {
  font-family: var(--challenge-font);
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  gap: 48px 0;
}
.right {
  justify-self: end;
}
.gridHeader {
  font-family: var(--challenge-font);
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
}
.product {
  display: flex;
  gap: 24px;
  align-items: center;
}
.imageContainer {
  width: 100%;
  max-width: 150px;
  height: fit-content;
  aspect-ratio: 1/1;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.productInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.productName {
  font-weight: 600;
}
.buttons {
  display: flex;
  align-items: center;
}
.icon {
  width: 20px;
  fill: black;
}
.total {
  align-self: center;
}
.border {
  height: 1px;
  border-bottom: 1px solid #0000001a;
}
.subtotalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
.subtotal {
  font-size: 20px;
  font-weight: 500;
}
.subtotalSum {
  font-family: var(--challenge-font);
  font-weight: 400;
}
.disclaimer {
  font-family: var(--challenge-font);
  font-size: 12px;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .continueShoppingLink {
    text-decoration: underline;
  }
  .subtotalContainer {
    align-items: center;
  }
  .mobileCart {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .tableHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .cartItem {
    display: flex;
    gap: 16px;
  }
  .productInfoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
  }
  .interactiveContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
}
