.main {
  width: 100%;
}
.widthContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.title {
  font-size: 48px;
  font-weight: 700;
}
.form {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.sectionTitle {
  font-size: 24px;
  font-weight: 500;
}
.group {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.group:first-child {
  flex-basis: 588px;
}
.group:last-child {
  flex-basis: 286px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.inputGroup {
  width: 100%;
  display: flex;
  gap: 16px;
}
.border {
  height: 1px;
  border-bottom: 1px solid #0000001a;
}
.subtotal {
  align-self: flex-end;
  font-weight: 600;
}
.total {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 600;
}
.price {
  display: inline;
  font-family: var(--challenge-font);
  font-weight: 400;
}
.buttonsGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.errorMessage {
  font-family: var(--challenge-font);
  font-size: 12px;
  text-align: right;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
  .form {
    flex-direction: column;
  }
  .group:first-child,
  .group:last-child {
    flex-basis: auto;
  }
}
