.description {
}
.descriptionHeading {
  font-family: var(--title-font);
  font-size: 6.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.descriptionContent {
  margin: 2rem 0;
  font-size: 1.5rem;
  columns: 2;
  column-gap: 4rem;
}

@media (max-width: 768px) {
  .descriptionContent {
    columns: 1;
  }
}
