.libraryLinkSection {
  margin-top: min(10rem, 200px);
  padding-bottom: min(2rem, 64px);
  display: flex;
}
.libraryLinkContainer {
  width: fit-content;
}
.libraryLink {
  display: block;
  text-align: center;
  font-family: var(--title-font);
  font-size: clamp(2rem, 4vw + 0.5rem, 3rem);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: font-weight 100ms ease-in-out,
    text-decoration-color 200ms ease-in-out;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.libraryLink:hover,
.libraryLink:focus {
  font-weight: 700;
  text-decoration-color: transparent;
}
