.main {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--title-font);
  font-size: 192px;
  text-transform: uppercase;
}
.height100 {
  height: 100%;
}
.boldHeroText {
  font-weight: 600;
}
.runningTextContainer {
  width: 100%;
  display: flex;
  transform: skewY(-5deg);
}
.runningText {
  animation: running-animation 25s linear infinite;
}
.runningLeft {
  animation-direction: reverse;
}
@keyframes running-animation {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.description {
}
.descriptionHeading {
  font-family: var(--title-font);
  font-size: 6.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.descriptionContent {
  margin: 2rem 0;
  font-size: 1.5rem;
  columns: 2;
  column-gap: 4rem;
}
.libraryLinkSection {
  margin-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
}
.libraryLink {
  margin: auto;
  text-align: center;
  font-family: var(--title-font);
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .descriptionContent {
    columns: 1;
  }
  .libraryLink {
    font-size: 2rem;
  }
}
