.main {
  width: 100%;
  height: 100%;
}

.libraryLinkSection {
  margin-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
}
.libraryLink {
  margin: auto;
  text-align: center;
  font-family: var(--title-font);
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .libraryLink {
    font-size: 2rem;
  }
}
