.main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
@media (max-width: 48rem) {
  .main {
    gap: 80px;
  }
  .arrow {
    transform: rotate(90deg);
  }
}
