.main {
  padding-top: min(12rem, 192px);
  display: flex;
  flex-direction: column;
  gap: min(6rem, 96px);
}
.widthContainer {
  display: flex;
  flex-direction: column;
  gap: min(4rem, 64px);
}
.title {
  font-size: clamp(3rem, -2.3333rem + 11.1111vw, 6rem);
  font-weight: 700;
  line-height: 1.25;
}
.sections {
  display: flex;
  flex-direction: column;
  gap: min(8rem, 128px);
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  gap: min(1.5rem, 24px);
}
.text {
  font-size: clamp(1.25rem, 0.8056rem + 0.9259vw, 1.5rem);
}
.boldText {
  font-weight: 600;
}
.section {
  display: flex;
  flex-direction: column;
  gap: min(2rem, 32px);
}
.sectionTitle {
  font-size: clamp(1.75rem, 1.75rem + 0.5208vw, 2rem);
  font-weight: 700;
}
.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: min(1.5rem, 24px);
  font-size: clamp(1.25rem, 0.8056rem + 0.9259vw, 1.5rem);
  list-style: none;
}
.listItem {
  display: flex;
  align-items: center;
  gap: min(1rem, 16px);
}
.actionIconContainer {
  flex-shrink: 0;
  width: clamp(2rem, 0.2222rem + 3.7037vw, 3rem);
  position: relative;
}
.actionIcon {
  width: clamp(1.2rem, 0.6667rem + 1.1111vw, 1.5rem);
  margin: auto;
  position: absolute;
  inset: 0;
  color: var(--text-color);
  z-index: 2;
}
.actionIconBlob {
  width: clamp(2rem, 0.2222rem + 3.7037vw, 3rem);
  color: var(--accent-color);
}
.actionIconBlobRotated {
  transform: rotate(45deg);
}
.checklistLink {
  font-size: clamp(2.25rem, 1.8056rem + 0.9259vw, 2.5rem);
  font-weight: 600;
}
.highlighted {
  margin: 0 -0.2em;
  padding: 0 0.2em;
  position: relative;
  font-weight: 900;
  text-decoration: underline;
}
.highlighted::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: skewX(-15deg);
  z-index: -1;
}
.arrowIcon {
  width: clamp(1.75rem, 1.75rem + 0.5208vw, 2rem);
  color: var(--text-color);
}
.simulationLink {
  font-weight: 600;
}
@media (max-width: 48rem) {
  .main {
    padding: min(4rem, 64px) 0;
    gap: min(5rem, 80px);
  }
  .title {
    font-size: clamp(2.5rem, 2.5rem + 0.5208vw, 2.75rem);
  }
  .sections {
    gap: min(5rem, 80px);
  }
  .descriptionSection {
    gap: min(0.75rem, 12px);
  }
  .text {
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .section {
    gap: min(1rem, 16px);
  }
  .sectionTitle {
    font-size: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
  .list {
    gap: 0.75rem;
    font-size: clamp(1rem, 1rem + 0.5208vw, 1.25rem);
  }
  .listItem {
    gap: min(0.75rem, 12px);
  }
  .checklistLink {
    font-size: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
  .arrowIcon {
    width: clamp(1.25rem, 1.25rem + 0.5208vw, 1.5rem);
  }
}
