.main {
  padding: 3rem 0;
}
.widthContainer {
  display: flex;
  flex-direction: column;
  gap: min(2rem, 48px);
}
.title {
  font-size: 3rem;
}
.problemSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 3rem;
}
.problemDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  gap: min(1rem, 24px);
}
.subtitle {
  font-size: clamp(1.5rem, 6vw + 0rem, 2rem);
}
.text {
  font-size: clamp(1rem, 6vw + 0rem, 1.5rem);
}
.disclaimer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(0.75rem, 4vw + 0rem, 1.25rem);
  border: 1px solid black;
}
.disclaimerTitle {
  font-size: clamp(1rem, 6vw + 0rem, 1.5rem);
}
.button {
  width: fit-content;
}
@media (max-width: 48rem) {
  .button {
    width: unset;
  }
  .problemSection {
    grid-template-columns: 1fr;
  }
}
