.main {
  padding: 3rem 0;
}
.widthContainer {
  display: flex;
  flex-direction: column;
  gap: min(3rem, 48px);
}
.title {
  font-size: clamp(2rem, -1.5556rem + 7.4074vw, 4rem);
}
.problemSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 3rem;
}
.descriptionSection {
  display: flex;
  flex-direction: column;
  gap: min(1rem, 24px);
}
.subtitle {
  font-size: clamp(1.5rem, -1.1667rem + 5.5556vw, 3rem);
}
.text {
  font-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
}
.disclaimer {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
  border: 1px solid black;
}
.disclaimerTitle {
  font-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
}
.disclamerLink {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-weight: 600;
  opacity: 1;
}
.disclamerLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.disclamerLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.button {
  width: fit-content;
}
@media (max-width: 48rem) {
  .button {
    width: unset;
  }
  .problemSection {
    grid-template-columns: 1fr;
  }
}
