.layout {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
}
.layout img {
  filter: var(--colour-blindness-filter);
}

.filter {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.blurred {
  animation: pulse 5s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    backdrop-filter: blur(3px);
  }
  25% {
    backdrop-filter: blur(4px);
  }
  50% {
    backdrop-filter: blur(3px);
  }
  75% {
    backdrop-filter: blur(2px);
  }
  100% {
    backdrop-filter: blur(3px);
  }
}

.blindness {
  background-color: #80808090;
  backdrop-filter: blur(100px);
}

.protanopiaLayout {
  --colour-blindness-filter: url(#protanopia);
}
.protanomalyLayout {
  --colour-blindness-filter: url(#protanomaly);
}
.deuteranopiaLayout {
  --colour-blindness-filter: url(#deuteranopia);
}
.deuteranomalyLayout {
  --colour-blindness-filter: url(#deuteranomaly);
}
.tritanopiaLayout {
  --colour-blindness-filter: url(#tritanopia);
}
.tritanomalyLayout {
  --colour-blindness-filter: url(#tritanomaly);
}
.achromatopsiaLayout {
  --colour-blindness-filter: url(#achromatopsia);
}
.achromatomalyLayout {
  --colour-blindness-filter: url(#achromatomaly);
}

.cursor {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  transition: margin 0.2s;
  pointer-events: none;
}
.tremorLayout,
.tremorLayout * {
  cursor: none !important;
}
